<%- include("partials/facultyHeader.ejs") %>
<script>
    function show(){
		var tables=document.querySelectorAll("table");
		tables.forEach(table => {
			table.classList.add('hidden');

		});

		var code=document.querySelector("select");
		console.log(code.value);
        var table=document.querySelector(".s"+code.value);
        table.classList.toggle('hidden');
        
  	}
</script>
<div class="ui container center aligned">
    <div class="ui form">
        <h1>Select the subject to view attendance</h1> 
        <div class="fields">
            <div class="one wide field"></div>
            <select class="ui dropdown ten wide field">
                <option value="">Select Subject</option>
            <% courses.forEach((course)=>{ %>
                <option value="<%- course.code %>"><%= course.code %> <%= course.name %></option>
            <% }) %>
            </select>
            <div class="one wide field"></div>
            <button class="ui button blue three wide field " onclick="show()">Submit</button>
            <div class="one wide field"></div>
        </div>        
    </div>
<% for( let i = 0; i < courses.length; i++ ) { %>
    <div class="ui container center aligned">
        <table class="ui celled structured table hidden <%- "s"+courses[i].code %>">
            <thead>
                <tr>
                    <th rowspan="2">Id</th>
                    <th rowspan="2">Name</th>
                    <th class="center aligned" colspan="<%= courses[i].schedule.length %> ">Date</th>
                </tr>
                <tr>
                    <% courses[i].schedule.forEach((s)=>{ var d=new Date(s)%>
                        <th><%= d.toDateString() %> </th>
                    <% }) %>
                </tr>
            </thead>
        <tbody>  
      
        </tbody>
            <% for( let j = 0; j < attendances[i].length; j++ ) { %>
                <tr>
                    <td><%= attendances[i][j].id %></td>
                <td><%= attendances[i][j].name %></td>
                <% var count=0;courses[i].schedule.forEach(date => { %>
                    <% if (attendances[i][j].attendance[count]) { %>
                     
                        <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <% } else { %>
                        <td></td>
                    <% } count++%>
                     
                <% });  %>
                </tr>
            <% } %>
            

        </table>
    </div>

<% } %>   
<%- include("partials/footer.ejs") %>
